@import "shelves";

@include shelves-base;

// Mobile
// ----------------------------------------------------------------------------

@if $shelves-mobile-columns != false {
  @include with-mobile-grid {
    %shelves-mobile-column-base {
      @include column-base;
      @include column-gutter;

      .#{$shelves-row-name} &:first-child {
        @extend %shelves-mobile-first-column;
      }
    }

    %shelves-mobile-first-column {
      @include reset-column-gutter;
    }

    .#{$shelves-first-mobile-column-name} {
      @extend %shelves-mobile-first-column;
    }

    @if $shelves-center {
      .#{$shelves-center-mobile-column-name} {
        @include center-column;
      }
    }

    @include shelves-columns(
      $column-name: $shelves-mobile-column-name,
      $prefixes: $shelves-mobile-prefixes,
      $suffixes: $shelves-mobile-suffixes,
      $pushes: $shelves-mobile-pushes,
      $pulls: $shelves-mobile-pulls,
      $base-placeholder: "shelves-mobile-column-base"
    );
  }
}

// Tablet
// ----------------------------------------------------------------------------

@if $shelves-tablet-columns != false {
  @include on-tablet-up {
    %shelves-tablet-column-base {
      @include column-base;
      @include column-gutter;

      .#{$shelves-row-name} &:first-child {
        @extend %shelves-tablet-first-column;
      }
    }

    %shelves-tablet-first-column {
      @include reset-column-gutter;
    }

    .#{$shelves-first-tablet-column-name} {
      @extend %shelves-tablet-first-column;
    }

    @if $shelves-center {
      .#{$shelves-center-tablet-column-name} {
        @include center-column;
      }
    }

    @include shelves-columns(
      $column-name: $shelves-tablet-column-name,
      $prefixes: $shelves-tablet-prefixes,
      $suffixes: $shelves-tablet-suffixes,
      $pushes: $shelves-tablet-pushes,
      $pulls: $shelves-tablet-pulls,
      $base-placeholder: "shelves-tablet-column-base"
    );
  }
}

// Desktop
// ----------------------------------------------------------------------------

@if $shelves-desktop-columns != false {
  @include on-desktop {
    %shelves-desktop-column-base {
      @include column-base;
      @include column-gutter;

      .#{$shelves-row-name} &:first-child {
        @extend %shelves-first-desktop-column;
      }
    }

    %shelves-first-desktop-column {
      @include reset-column-gutter;
    }

    .#{$shelves-first-desktop-column-name} {
      @extend %shelves-first-desktop-column;
    }

    @if $shelves-center {
      .#{$shelves-center-desktop-column-name} {
        @include center-column;
      }
    }

    @include shelves-columns(
      $prefixes: $shelves-prefixes,
      $suffixes: $shelves-suffixes,
      $pushes: $shelves-pushes,
      $pulls: $shelves-pulls,
      $base-placeholder: "shelves-desktop-column-base"
    );

    // Nested Desktop Columns

    @if $shelves-nested-columns != false {
      @for $i from 1 to $shelves-desktop-columns - 1  {
        // Loop background through the columns
        // to cascade the nested column properties.
        $i: $shelves-desktop-columns - $i;

        #{column-selector($shelves-column-name, $i)} {
          %shelves-nested-column-#{$i}-base {
            @include column-gutter($i);
          }

          @include shelves-columns(
            $context: $i,
            $prefixes: $shelves-nested-prefixes,
            $suffixes: $shelves-nested-suffixes,
            $pushes: $shelves-nested-pushes,
            $pulls: $shelves-nested-pulls,
            $base-placeholder: "shelves-nested-column-#{$i}-base"
          );
        }
      }
    }
  }
}

// Breakout Columns
// ----------------------------------------------------------------------------

@if $shelves-breakout {
  %shelves-breakout-column-base {
    @include column-base;
    @include column-gutter($gutter: $shelves-breakout-gutter);

    &:first-child {
      @include reset-column-gutter;
    }
  }

  @for $i from 2 through $shelves-breakout-columns {
    #{column-selector($shelves-row-name, $i)} {
      @include shelves-columns(
        $total: $i,
        $gutter: $shelves-breakout-gutter,
        $base-placeholder: "shelves-breakout-column-base"
      );
    }
  }
}

// Visibility Helpers
// ----------------------------------------------------------------------------

@if $shelves-visibility {
  @include shelves-visibility-helpers;
}
