@import "shelves";

// Shelves Base
// ----------------------------------------------------------------------------

@if $shelves-responsive-base {
  @include responsive-base;
}

.#{$shelves-row-name} {
  @include row;

  .#{$shelves-row-name} {
    @include reset-row;
  }
}

// Mobile
// ----------------------------------------------------------------------------

@include with-mobile-grid {

  // Mobile Columns

  @if $shelves-mobile {
    #{columns-selector($shelves-mobile-column-name)} {
      @include column-base;
      @include column-gutter;
    }

    @include shelves-columns(
      $column-name: $shelves-mobile-column-name,
      $prefixes: $shelves-mobile-prefixes,
      $suffixes: $shelves-mobile-suffixes,
      $pushes: $shelves-mobile-pushes,
      $pulls: $shelves-mobile-pulls
    );
  }
}

// Mobile Visibility Helpers

@if $shelves-visibility {
  .#{$shelves-visible-desktop-name} {
    @include force-hidden;
  }

  @include on-mobile {
    .#{$shelves-visible-mobile-name} {
      @include force-visible;
    }

    .#{$shelves-hidden-mobile-name},
    .#{$shelves-visible-tablet-name} {
      @include force-hidden;
    }
  }
}

// Tablet
// ----------------------------------------------------------------------------

@include on-tablet-up {

  // Tablet Columns

  @if $shelves-tablet {
    #{columns-selector($shelves-tablet-column-name)} {
      @include column-base;
      @include column-gutter;
    }

    @include shelves-columns(
      $column-name: $shelves-tablet-column-name,
      $prefixes: $shelves-tablet-prefixes,
      $suffixes: $shelves-tablet-suffixes,
      $pushes: $shelves-tablet-pushes,
      $pulls: $shelves-tablet-pulls
    );
  }

  // Tablet Visibility

  @if $shelves-visibility {
    .#{$shelves-visible-mobile-name} {
      @include force-hidden;
    }
  }
}

@include on-tablet {

  // Tablet Visibility (cont.)

  @if $shelves-visibility {
    .#{$shelves-visible-tablet-name} {
      @include force-visible;
    }

    .#{$shelves-hidden-tablet-name} {
      @include force-hidden;
    }
  }
}

// Desktop
// ----------------------------------------------------------------------------

@include on-desktop {

  // Desktop Columns

  @if $shelves-desktop {
    #{columns-selector($shelves-column-name)} {
      @include column-base;
      @include column-gutter;
    }

    @include shelves-columns(
      $column-name: $shelves-column-name,
      $prefixes: $shelves-prefixes,
      $suffixes: $shelves-suffixes,
      $pushes: $shelves-pushes,
      $pulls: $shelves-pulls
    );

    @if $shelves-nested {
      @for $i from 1 to $shelves-columns - 1  {
        // Loop background through the columns
        // to cascade the nested column properties.
        $i: $shelves-columns - $i;

        #{column-selector($shelves-column-name, $i)} {
          #{columns-selector($shelves-column-name)} {
            @include column-gutter($i);
          }

          @include shelves-columns(
            $context: $i,
            $prefixes: $shelves-nested-prefixes,
            $suffixes: $shelves-nested-suffixes,
            $pushes: $shelves-nested-pushes,
            $pulls: $shelves-nested-pulls
          );
        }
      }
    }
  }

  // Breakout Columns

  @if $shelves-breakout {
    #{columns-selector($shelves-row-name)} {
      #{columns-selector($shelves-column-name)} {
        @include column-gutter($gutter: $shelves-breakout-gutter);
      }
    }

    @for $i from 2 through $shelves-breakout-columns {
      #{column-selector($shelves-row-name, $i)} {
        @include shelves-columns(
          $total: $i,
          $gutter: $shelves-breakout-gutter,
          $prefixes: false,
          $suffixes: false,
          $pushes: false,
          $pulls: false
        );
      }
    }
  }

  // Desktop Visibility

  @if $shelves-visibility {
    .#{$shelves-visible-desktop-name} {
      @include force-visible;
    }

    .#{$shelves-hidden-desktop-name},
    .#{$shelves-visible-tablet-name} {
      @include force-hidden;
    }
  }
}

// Global Column Gutter Reset

.#{$shelves-row-name} {
  #{columns-selector($shelves-column-name)}:first-child,
  .#{$shelves-first-column-name} {
    @include reset-column-gutter;
  }
}

// Global Full Column

.#{$shelves-row-name} {
  .#{$shelves-full-column-name} {
    @include reset-column-width;
    @include reset-column-gutter;
    @include row-base;
  }
}
