// Includes the styles for the container element - namely
// some outer margins for fluid sizes.
//
//   $margin - The outer margins. Defaults to $shelves-margin.
//
@mixin container($margin: $shelves-margin, $gutter: $shelves-gutter) {
  $margin-minus-padding: $margin - $gutter / 2;

  padding-left: $margin-minus-padding;
  padding-right: $margin-minus-padding;
}

// Includes the styles for the row element. This includes
// a clearfix, widths, and centering.
//
//   $max-width       - The max width of the row element. If this is
//                      false, the row is completely fluid. Defaults
//                      to $shelves-max-width.
//   $min-width       - The min width, for browsers that don't support
//                      media queries. Defaults to $shelves-min-width.
//   $reset-if-tablet - Include styles for resetting the row at
//                      tablet sizes. Defaults to true.
//   $reset-if-mobile - Include styles for resetting the row at
//                      mobile sizes. Defaults to false.
//
@mixin row(
    $max-width: $shelves-max-width,
    $min-width: $shelves-min-width,
    $reset-if-tablet: true,
    $reset-if-mobile: false) {
  @include shelves-clearfix;

  @if type-of($max-width) == "number" {
    margin-right: auto;
    margin-left: auto;
    max-width: $max-width;
  }
  @if type-of($min-width) == "number" {
    min-width: $min-width;
  }
  @if $reset-if-tablet {
    @include tablet {
      @include reset-row;
    }
  }
  @if $reset-if-mobile {
    @include mobile {
      @include reset-row;
    }
  }
}

// Creates a column that spans the given number of
// grid columns.
//
//   $n               - The number of columns the element should span.
//   $context         - The number of columns encapsulating the element.
//                      Defaults to the the value of $total.
//   $total           - The total number of columns in the grid.
//                      Defaults to the value of $shelves-columns.
//   $gutter          - The width of the gutter in the root context (in %).
//                      Defaults to the value of $shelves-gutter.
//   $reset-if-tablet - Include styles for resetting the column at
//                      tablet sizes. Defaults to true.
//   $reset-if-mobile - Include styles for resetting the column at
//                      mobile sizes. Defaults to false.
//
@mixin column(
    $n,
    $context: $shelves-columns,
    $gutter: $shelves-gutter,
    $reset-if-tablet: true,
    $reset-if-mobile: false) {
  @include column-base($reset-if-tablet, $reset-if-mobile);
  @include column-gutter($gutter);
  @include column-width($n, $context);
}

// Sets up an element to be a column in the grid system.
// This is used internally to generate grids, Use column($n)
// instead to create fully functioning columns.
//
//   $reset-if-tablet - Include styles for resetting the column at
//                      tablet sizes. Defaults to true.
//   $reset-if-mobile - Include styles for resetting the column at
//                      mobile sizes. Defaults to false.
//
@mixin column-base($reset-if-tablet: true, $reset-if-mobile: false) {
  @include shelves-border-box;
  position: relative;
  display: block;
  float: left;

  @if $reset-if-tablet {
    @include tablet {
      @include reset-column;
    }
  }
  @if $reset-if-mobile {
    @include mobile {
      @include reset-column;
    }
  }
}

// Sets the width of the element to the given number of columns.
//
//   $n       - The number of columns the element should span.
//   $context - The number of columns encapsulating the element.
//              Defaults to the the value of $total.
//   $total   - The total number of columns in the grid.
//              Defaults to the value of $shelves-columns.
//   $gutter  - The width of the gutter in the root context (in %).
//              Defaults to the value of $shelves-gutter.
//
@mixin column-width($n, $context: $shelves-columns) {
  width: column-width($n, $context);
}

// Includes the gutter for a column on the grid.
//
//   $context     - The number of columns encapsulating the element.
//                  Defaults to the the value of $total.
//   $total       - The total number of columns in the grid.
//                  Defaults to the value of $shelves-columns.
//   $gutter      - The width of the gutter in the root context (in %).
//                  Defaults to the value of $shelves-gutter.
//   $reset-first - Removes the gutter for the first column in a row.
//                  Defaults to true.
//
@mixin column-gutter($gutter: $shelves-gutter) {
  $gutter-half: $gutter / 2;

  padding-left: $gutter-half;
  padding-right: $gutter-half;
}
