// Adds some non-grid related responsive styles. It fixes IE 10's
// "Snap Mode" and making images fluid.
@mixin responsive-base {
  @include fix-snap-mode;

  img {
    @include fluid-media;
  }
}

// Generates the grid's base classes, namely the
// the row and container elements.
//
//   $reset-on-tablet - Include styles for resetting the grid at
//                      tablet sizes. Defaults to false.
//   $reset-on-mobile - Include styles for resetting the grid at
//                      mobile sizes. Defaults to false.
//
@mixin shelves-base($reset-on-tablet: false, $reset-on-mobile: false) {
  .#{$shelves-row-name} {
    @include container;
    @include row($reset-on-tablet: $reset-on-tablet, $reset-on-mobile: $reset-on-mobile);

    .#{$shelves-row-name} {
      @include reset-container;
      @include reset-row;
    }
  }

  #{columns-selector($shelves-column-name)} {
    @include column-base($reset-on-tablet: $reset-on-tablet, $reset-on-mobile: $reset-on-mobile);
    @include column-gutter($reset-first: false);
  }

  .#{$shelves-row-name} {
    #{columns-selector($shelves-column-name)}:first-child,
    .#{$shelves-first-column-name} {
      @include reset-column-gutter;
    }
  }
}

// Generates the classes used for laying out and modifying
// the columns. This can be used in different contexts, varying
// the number of columns if necessary.
//
//   $column-name - The name of the column to generate widths for.
//                  Defaults to $shelves-column-name
//   $start       - Where to start the loop. Defaults to 1.
//   $end         - Where to end the loop.
//                  Defaults to the value of $total.
//   $context     - The context of generated classes.
//                  Defaults to the value of $total.
//   $total       - The total number of columns in the grid.
//                  Defaults to the value of $shelves-columns.
//   $gutter      - The width of the gutter in the root context (in %).
//                  Defaults to the value of $shelves-gutter.
//   $prefixes    - Include prefix classes. Defaults to true.
//   $suffixes    - Include suffix classes. Defaults to true.
//   $pushes      - Include push classes. Defaults to true.
//   $pulls       - Include pull classes. Defaults to true.
//
@mixin shelves-columns(
    $column-name: $shelves-column-name,
    $start: 1,
    $end: null,
    $context: $shelves-context,
    $total: $shelves-columns,
    $gutter: $shelves-gutter,
    $prefixes: true,
    $suffixes: true,
    $pushes: true,
    $pulls: true) {
  $context: $total !default;
  $end: $context !default;

  @for $i from $start to $end  {
    #{column-selector($column-name, $i)} {
      @include column-width($i, $context, $total, $gutter);
    }
  }
  @if $prefixes {
    @for $i from $start to $end  {
      #{column-selector($shelves-prefix-name, $i)} {
        @include prefix-column($i, $context, $total, $gutter);
      }
    }
  }
  @if $suffixes {
    @for $i from $start to $end  {
      #{column-selector($shelves-suffix-name, $i)} {
        @include suffix-column($i, $context, $total, $gutter);
      }
    }
  }
  @if $pushes {
    @for $i from $start to $end  {
      #{column-selector($shelves-push-name, $i)} {
        @include push-column($i, $context, $total, $gutter);
      }
    }
  }
  @if $pulls {
    @for $i from $start to $end  {
      #{column-selector($shelves-pull-name, $i)} {
        @include pull-column($i, $context, $total, $gutter);
      }
    }
  }
}

// Resets the row and column elements so they take up
// the full width of their parent element. All modifying
// effects are removed from columns as well.
//
//   $reset-row     - Reset the row. Defaults to true.
//   $reset-columns - Reset columns (including nested columns).
//                    Defaults to true
//
@mixin shelves-resets($reset-row: true, $reset-columns: true) {
  .#{$shelves-row-name} {
    @if $reset-row {
      @include reset-row;
    }
    @if $reset-columns {
      #{columns-selector($shelves-column-name)} {
        @include reset-column;
      }
    }
  }
}
