// Adds a padding suffix (which shifts the column to the right)
// spanning the given number of columns.
//
//   $n       - The number of columns to pad.
//   $context - The number of columns encapsulating the element.
//              Defaults to the the value of $total.
//   $total   - The total number of columns in the grid.
//              Defaults to the value of $shelves-columns.
//   $gutter  - The width of the gutter in the root context (in %).
//              Defaults to the value of $shelves-gutter.
//
@mixin column-prefix(
  $n,
  $context: null,
  $total: $shelves-columns,
  $gutter: $shelves-gutter
) {
  padding-left: columns-distance($n, $context, $total, $gutter);
}

// Adds a padding suffix (which shifts the column to the left)
// spanning the given number of columns.
//
//   $n       - The number of columns to pad.
//   $context - The number of columns encapsulating the element.
//              Defaults to the the value of $total.
//   $total   - The total number of columns in the grid.
//              Defaults to the value of $shelves-columns.
//   $gutter  - The width of the gutter in the root context (in %).
//              Defaults to the value of $shelves-gutter.
//
@mixin column-suffix(
  $n,
  $context: null,
  $total: $shelves-columns,
  $gutter: $shelves-gutter
) {
  padding-right: columns-distance($n, $context, $total, $gutter);
}

// Reorder the content by shifting the column to the right. This
// is often used in conjunction with column-pull($n).
//
//   $n       - The number of columns to shift.
//   $context - The number of columns encapsulating the element.
//              Defaults to the the value of $total.
//   $total   - The total number of columns in the grid.
//              Defaults to the value of $shelves-columns.
//   $gutter  - The width of the gutter in the root context (in %).
//              Defaults to the value of $shelves-gutter.
//
@mixin column-push(
  $n,
  $context: null,
  $total: $shelves-columns,
  $gutter: $shelves-gutter
) {
  left: columns-distance($n, $context, $total, $gutter);
}

// Reorder the content by shifting the column to the left. This
// is often used in conjunction with column-push($n).
//
//   $n       - The number of columns to shift.
//   $context - The number of columns encapsulating the element.
//              Defaults to the the value of $total.
//   $total   - The total number of columns in the grid.
//              Defaults to the value of $shelves-columns.
//   $gutter  - The width of the gutter in the root context (in %).
//              Defaults to the value of $shelves-gutter.
//
@mixin column-pull(
  $n,
  $context: null,
  $total: $shelves-columns,
  $gutter: $shelves-gutter
) {
  right: columns-distance($n, $context, $total, $gutter);
}
