// Reset container by removing the outer padding.
@mixin reset-container {
  padding-right: 0;
  padding-left: 0;
}

// Reset a row to expand to the full width of
// its container and remove margins.
@mixin reset-row {
  margin-right: 0;
  margin-left: 0;
  min-width: 0;
  max-width: none;
}

// Resets a column to expand to the full width of
// its container and remove float & margins.
//
//   $vertical-margin - The amount of vertical margin to add between reset
//                      columns. Defaults to the value
//                      of $shelves-reset-vertical-margin.
@mixin reset-column($vertical-margin: $shelves-reset-vertical-margin) {
  @include reset-column-gutter;
  @include reset-column-prefix;
  @include reset-column-suffix;
  @include reset-column-push;
  @include reset-column-pull;
  float: none;
  width: auto;

  @if $vertical-margin and $vertical-margin != 0 {
    margin-top: $vertical-margin;

    &:first-child {
      margin-top: 0;
    }
  }

  @if $shelves-ie7-support {
    *margin-right: 0px;
  }
}

// Removes the gutter of a column in a grid. This is usually added
// to the first column in a row.
@mixin reset-column-gutter {
  margin-left: 0;
}

// Removes the vertical margin added when columns are reset.
@mixin reset-column-vertical-margin {
  margin-top: 0;
}

// Removes the padding prefix added to a column.
@mixin reset-column-prefix {
  padding-left: 0;
}

// Removes the padding suffix added to a column.
@mixin reset-column-suffix {
  padding-right: 0;
}

// Removes the column shifting added with a column-push($n).
@mixin reset-column-push {
  left: auto;
}

// Removes the column shifting added with a column-pull($n).
@mixin reset-column-pull {
  right: auto;
}
