include _mixins.pug
.guidelines
  .row.visible-desktop
    +times(12)
      .column-1
        .guide
  .row.visible-tablet
    +times(6)
      .column-2.tablet-column-1
        .guide
  .row.visible-mobile
    +times(6)
      .column-3.mobile-column-1
        .guide
