// Default Grid Settings
$shelves-width:          1140px !default;
$shelves-columns:        12 !default;
$shelves-mobile-columns: 4 !default;
$shelves-margin:         20px !default;
$shelves-gutter:         20px !default;

// Calculate the column width and gutter
@if unit($shelves-gutter) != "%" {
  $shelves-gutter: percentage($shelves-gutter / $shelves-width);
}
$shelves-column-width: (100% - ($shelves-columns - 1) * $shelves-gutter) / $shelves-columns;

// Default Class Names
// (Note the lack of the preceding ".")
$shelves-container-name:     "container";
$shelves-row-name:           "row";
$shelves-column-name:        "column";
$shelves-prefix-name:        "prefix";
$shelves-suffix-name:        "suffix";
$shelves-push-name:          "push";
$shelves-pull-name:          "pull";
$shelves-separator:          "-";
$shelves-mobile-column-name: "mobile-column";
$shelves-reset-column-name:  "reset-column";
$shelves-reset-gutter-name:  "reset-gutter";
