// Default Grid Settings
$shelves-width: 1060px !default;
$shelves-max-width: $shelves-width !default;
$shelves-min-width: 767px !default;
$shelves-columns: 12 !default;
$shelves-margin: 20px !default;
$shelves-gutter: 20px !default;
$shelves-tablet-breakpoint: 800px !default;
$shelves-mobile-breakpoint: 480px !default;

// Default Tablet Settings
$shelves-tablet-columns: 6 !default;
$shelves-tablet-margin: $shelves-margin * 0.75 !default;
$shelves-tablet-gutter: $shelves-gutter * 1.5 !default;

// Default Mobile Settings
$shelves-mobile-columns: 4 !default;
$shelves-mobile-margin: $shelves-margin * 0.5 !default;
$shelves-mobile-gutter: $shelves-gutter * 2.375 !default;

// Default Class Names
// (Note the lack of the preceding ".")
$shelves-row-name: "row" !default;
$shelves-column-name: "c" !default;
$shelves-prefix-name: "prefix" !default;
$shelves-suffix-name: "suffix" !default;
$shelves-push-name: "push" !default;
$shelves-pull-name: "pull" !default;
$shelves-separator: "-" !default;
$shelves-tablet-column-name: "ct" !default;
$shelves-mobile-column-name: "cm" !default;

// Default options for the grid generator
$shelves-prefixes: true !default;
$shelves-suffixes: true !default;
$shelves-pushes: true !default;
$shelves-pulls: true !default;
$shelves-nested: true !default;
$shelves-nested-prefixes: false !default;
$shelves-nested-suffixes: false !default;
$shelves-nested-pushes: false !default;
$shelves-nested-pulls: false !default;
$shelves-tablet: true !default;
$shelves-tablet-prefixes: false !default;
$shelves-tablet-suffixes: false !default;
$shelves-tablet-pushes: false !default;
$shelves-tablet-pulls: false !default;
$shelves-mobile: true !default;
$shelves-mobile-prefixes: false !default;
$shelves-mobile-suffixes: false !default;
$shelves-mobile-pushes: false !default;
$shelves-mobile-pulls: false !default;

// Support IE7
$legacy-support-for-ie7: true !default;
$shelves-ie7-support: $legacy-support-for-ie7 !default;
$shelves-border-box-polyfill-url: false !default;
