// Default Grid Settings
$shelves-width: 1060px !default;
$shelves-max-width: $shelves-width !default;
$shelves-min-width: 767px !default;
$shelves-columns: 12 !default;
$shelves-margin: 20px !default;
$shelves-gutter: 20px !default;
$shelves-reset-vertical-margin: 20px !default;
$shelves-tablet-breakpoint: 799px !default;
$shelves-mobile-breakpoint: 479px !default;

// Convert the gutter to a percentage if necessary.
@if unit($shelves-gutter) != "%" {
  $shelves-gutter: percentage($shelves-gutter / $shelves-max-width);
}

// Default Breakout Settings
$shelves-breakout-columns: 4 !default;
$shelves-breakout-gutter: $shelves-gutter * 2 !default;

// Default Tablet Settings
$shelves-tablet-columns: 6 !default;
$shelves-tablet-margin: $shelves-margin * 0.75 !default;
$shelves-tablet-gutter: $shelves-gutter * 1.5 !default;

// Default Mobile Settings
$shelves-mobile-columns: 4 !default;
$shelves-mobile-margin: $shelves-margin * 0.5 !default;
$shelves-mobile-gutter: $shelves-gutter * 2.375 !default;

// Default Naming Conventions
$shelves-separator: "-" !default;
$shelves-desktop-name: "desktop" !default;
$shelves-tablet-name: "tablet" !default;
$shelves-mobile-name: "mobile" !default;
$shelves-visible-name: "visible" !default;
$shelves-hidden-name: "hidden" !default;
$shelves-centered-name: "centered" !default;

// Default Class Names
// (Note the lack of the preceding ".")
$shelves-row-name: "row" !default;
$shelves-column-name: "column" !default;
$shelves-tablet-column-name: "#{$shelves-tablet-name}#{$shelves-separator}#{$shelves-column-name}" !default;
$shelves-mobile-column-name: "#{$shelves-mobile-name}#{$shelves-separator}#{$shelves-column-name}" !default;
$shelves-prefix-name: "prefix" !default;
$shelves-suffix-name: "suffix" !default;
$shelves-push-name: "push" !default;
$shelves-pull-name: "pull" !default;
$shelves-first-name: "first" !default;
$shelves-first-column-name: "#{$shelves-first-name}#{$shelves-separator}#{$shelves-column-name}" !default;
$shelves-first-tablet-column-name: "#{$shelves-first-name}#{$shelves-separator}#{$shelves-tablet-column-name}" !default;
$shelves-first-mobile-column-name: "#{$shelves-first-name}#{$shelves-separator}#{$shelves-mobile-column-name}" !default;
$shelves-visible-desktop-name: "#{$shelves-visible-name}#{$shelves-separator}#{$shelves-desktop-name}" !default;
$shelves-visible-tablet-name: "#{$shelves-visible-name}#{$shelves-separator}#{$shelves-tablet-name}" !default;
$shelves-visible-mobile-name: "#{$shelves-visible-name}#{$shelves-separator}#{$shelves-mobile-name}" !default;
$shelves-hidden-desktop-name: "#{$shelves-hidden-name}#{$shelves-separator}#{$shelves-desktop-name}" !default;
$shelves-hidden-tablet-name: "#{$shelves-hidden-name}#{$shelves-separator}#{$shelves-tablet-name}" !default;
$shelves-hidden-mobile-name: "#{$shelves-hidden-name}#{$shelves-separator}#{$shelves-mobile-name}" !default;
$shelves-centered-column-name: "#{$shelves-centered-name}#{$shelves-separator}#{$shelves-column-name}" !default;
$shelves-centered-tablet-column-name: "#{$shelves-centered-name}#{$shelves-separator}#{$shelves-tablet-column-name}" !default;
$shelves-centered-mobile-column-name: "#{$shelves-centered-name}#{$shelves-separator}#{$shelves-mobile-column-name}" !default;

// Default options for the grid generator
$shelves-fluid-img: true !default;
$shelves-fix-snap-mode: true !default;
$shelves-visibility: true !default;
$shelves-centered: true !default;
$shelves-breakout: true !default;
$shelves-nested: true !default;
$shelves-tablet: true !default;
$shelves-mobile: true !default;
$shelves-prefixes: true !default;
$shelves-suffixes: true !default;
$shelves-pushes: true !default;
$shelves-pulls: true !default;
$shelves-nested-prefixes: false !default;
$shelves-nested-suffixes: false !default;
$shelves-nested-pushes: false !default;
$shelves-nested-pulls: false !default;
$shelves-tablet-prefixes: false !default;
$shelves-tablet-suffixes: false !default;
$shelves-tablet-pushes: false !default;
$shelves-tablet-pulls: false !default;
$shelves-mobile-prefixes: false !default;
$shelves-mobile-suffixes: false !default;
$shelves-mobile-pushes: false !default;
$shelves-mobile-pulls: false !default;

// Support IE7
$legacy-support-for-ie7: true !default;
$legacy-support-for-ie8: true !default;
$shelves-ie7-support: $legacy-support-for-ie7 !default;
$shelves-ie8-support: $legacy-support-for-ie8 !default;
